
$bdazzled-blue: #3d5a80ff;
$dark-sky-blue: #98c1d9ff;
$light-cyan: #e0fbfcff;
$burnt-sienna: #ee6c4dff;
$gunmetal: #293241ff;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.app{
    width: 100%;
}

.loading{
    width: 150px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}


