@import "./App.scss";


.login-page{

    width: 100vw;
    height:100vh;
    background-image: url("https://img.freepik.com/free-vector/white-background-with-wavy-lines_23-2149124447.jpg?t=st=1654584547~exp=1654585147~hmac=18f483b7eb49fd1d36c6e1fa77db158b5892a2eaf76ddc210bdfde7b17b7dca6&w=996");
    background-repeat: no-repeat;
    background-size: cover;


    .form{
        position: absolute;
        background-color: white;
        opacity: 80%;
        padding: 2rem;
        border-radius: 50px;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
    }

    .field-containers-wrap{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        justify-content: flex-start;
        width: fit-content;
        margin: 0 auto;
        
    }

    .field-containers{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
                // background-color: darkslategray;
        }

    
    .icon-field{
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
    }
    

    .field{
        // width: 100%;
        
        outline: none;
        border: none;
        border-bottom:2px solid $bdazzled-blue ;
        padding: 0.2rem 0.5rem;
        font-size: 1.2rem;
        color: $gunmetal;
    }

   

    .icon{
        width: 30px;
        height: 30px;
        
    }

    .submit-btn{
        
        width: fit-content;
        padding: 0.5rem 2rem;
        margin: 0 auto;
        margin-top: 1.5rem;
        font-weight: 600;
        font-size: 1.2rem;
        color: $bdazzled-blue;
        background-color: transparent;
        border: 2px solid $bdazzled-blue;
        outline:  none;
        border-radius: 20px;

    }

    .signup-link-container{
        margin-top: 1rem;
        text-align: center;
        font-weight: 500;
        font-size: 1.1rem;

    }

    .signup-link{
        color: $bdazzled-blue;
    }

    .errors{
        color: red;
        padding-left: 30px;
        padding-top: 0.5rem;
    }

    


}